* {
  box-sizing: border-box;
  background: var(--bg);
 
}

:root {
  --base: #9999;
  --spacing: 5px;
  --blur: 5px;
  --bg: #ddc80e;
}

h1 {
  text-align: center;
  font-family: 'Chonburi', sans-serif;
  margin-top: 10%;
  font-size: 40px;
  text-shadow:4px 4px 9px white;
   
}

.search {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  width: 40%;
  height: 40px;
  text-align: center;
  font-family: 'Chonburi', sans-serif;
  font-size: 25px;
}

input:focus {
  outline: none;
}

.gallery {
  margin-top: 30px;
  text-align: center;
  background-color: transparent;
}

.gallery img {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: black;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}