:root{
    --base : rgb(0, 0, 0);
    --spacing :0px;
    --blur : 10px;
   }
   
   p.c {
       font-style: oblique;
     }

     h1 {
        text-align: center;
        font-family: 'Lemonada', cursive;
        
    }
   
     input[type=text] {
       width: 50%;
       box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-image: url('searchicon.png');
       background-position: 10px 10px; 
       background-repeat: no-repeat;
       padding: 12px 20px 12px 40px;
     }
   
   img {
       border-radius: 50%;
     }
   
   
   img{
   padding: var(--spacing);
   background: var(--base);
   filter: blur(var(--blur));
   } 

